.App {
  color: #e4e5eb;
}

.content {
  margin-top: 10px;
  min-height: 95vh
}

.load-more-button-wrapper {
  width: 50%;
  margin: auto;
}

.button-wrapper div {
  padding: 10px;
  background-color: #d000cd;
  color: #e4e5eb;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
}

.button-wrapper div:hover {
  background-color: #ab00a8;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
}

.load-more-button-wrapper {
  margin-top: 20px;
}

.button-wrapper div {
  text-align: center;
}