.leave-login-page {
  cursor: pointer;
}

.auth-wrapper {
    width: 520px;
}

.auth-page {
  color: #e4e5eb;
  height: 100vh;
  display: flex;
}

.auth-page > div {
  margin: auto;
}

.auth-page h3 {
  text-align: center;
  font-size: 72px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.auth-page > div > div:nth-child(2) {
  padding: 10px;
  background-color: #242526;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form-group > div {
  margin: 5px;
}

.form-group .search-wrapper {
  text-align: center;
}

.form-group .search-wrapper i:hover {
  cursor: initial;
}

.login-button {
  margin: auto;
  width: 450px;
}

.register-button {
  margin: auto;
  width: 70%;
}

.sign-up-button {
  margin: auto;
  width: 100%;
}

.register-wrapper {
  border-top: 2px solid #3a3b3c;
  margin-top: 5px;
}
.auth-page .button-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
}

.leave-login-page-wrapper {
  margin-top: 10px;
  display: flex;
  text-align: center;
}

.leave-login-page-wrapper > div {
  margin:auto;
  display: block;
  width: 100%;
}


@media screen and (max-width: 1040px) {
    .auth-page {
        display:initial;
    }
    .auth-img-wrapper {
        text-align: center;
    }
    .auth-img-wrapper img {
        width: 150px;
    }
    .auth-wrapper > div { 
        width: 100%;
        margin: auto;
    }
  }


  .auth-page .popup {
      width: 500px;
  }

  .auth-page .popup .button-wrapper {
      width: 60%;
      margin: auto;
      margin-top: 5px;
  }

  .register-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    display: flex;
    margin: 0;
    background-color:rgb(0 0 0 / 90%);
}