.random-cocktail{
    background-color: #242526;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    width: 250px;
    /* height: 250px; */
    border-radius: 5px;
}

.random-cocktail-thumbnail-wrapper > img {
    width: 235px;
    border-radius: 5px;
    border: 1px solid #99918a;
}

.random-cocktail-thumbnail-wrapper {
    margin:5px;
}

.random-cocktail-title i {
    margin-right: 5px;
}

.more-information-button-wrapper {
    margin: 10px;
}

.more-information-button-wrapper div {
    padding: 10px;
    background-color: #d000cd;
    color: #e4e5eb;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: 0.18s ease-out;
    -moz-transition: 0.18s ease-out;
    -o-transition: 0.18s ease-out;
    transition: 0.18s ease-out;
}

.more-information-button-wrapper div:hover {
    background-color: #ab00a8;
    -webkit-transition: 0.18s ease-out;
    -moz-transition: 0.18s ease-out;
    -o-transition: 0.18s ease-out;
    transition: 0.18s ease-out;
}


.random-cocktail > div:not(:first-child) {
    margin-top: 10px;
}

.random-cocktail > div:not(:last-child) {
    margin-bottom: 10px;
}
