.col {
    text-align: center;
}

.col * {
    text-align: initial ;
}

.random-cocktail{
    background-color: #242526;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    width: 250px;
    /* height: 250px; */
    border-radius: 5px;
}

.random-cocktail-thumbnail-wrapper > img {
    width: 230px;
    border-radius: 5px;
    border: 1px solid #99918a;
}

.random-cocktail-title {
    text-align: center;
}

.random-cocktail-title i {
    margin-right: 5px;
}

.more-information-button-wrapper {
    margin: 10px;
}

.random-cocktail .button-wrapper {
    text-align: center;
}

.random-cocktail-thumbnail-wrapper {
    padding: 10px;
    padding-bottom: 5px;
}

.random-cocktail-title, .random-cocktail-ingredients {
    padding-left: 10px;
    padding-right: 10px;
}